# Tests: cyrus-docker
# Depends: ca-certificates, docker.io
# Restrictions: needs-root

Tests: cyrus-no-docker
Depends: cyrus-imapd,
    apt-utils,
    autoconf,
    automake,
    autotools-dev,
    bash-completion,
    bison,
    build-essential,
    check,
    clang,
    cmake,
    comerr-dev,
    cpanminus,
    doxygen,
    debhelper,
    flex,
    g++,
    git,
    gperf,
    graphviz,
    groff,
    texi2html,
    texinfo,
    heimdal-dev,
    help2man,
    libanyevent-perl,
    libbsd-dev,
    libbsd-resource-perl,
    libclone-perl,
    libconfig-inifiles-perl,
    libcunit1-dev,
    libdatetime-perl,
    libdb-dev,
    libdbi-perl,
    libdigest-sha-perl,
    libencode-imaputf7-perl,
    libfile-chdir-perl,
    libfile-slurp-perl,
    libglib2.0-dev,
    libhttp-daemon-perl,
    libio-socket-inet6-perl,
    libio-stringy-perl,
    libjson-perl,
    libjson-xs-perl,
    libldap2-dev,
    libmagic-dev,
    libmilter-dev,
    default-libmysqlclient-dev,
    libnet-server-perl,
    libnews-nntpclient-perl,
    libpath-tiny-perl,
    libpam0g-dev,
    libpcre3-dev,
    libsasl2-dev,
    libsnmp-dev,
    libsqlite3-dev,
    libssl-dev,
    libstring-crc32-perl,
    libtest-deep-perl,
    libtest-deep-type-perl,
    libtest-most-perl,
    libtest-unit-perl,
    libtool,
    libunix-syslog-perl,
    liburi-perl,
    libxml-generator-perl,
    libxml-xpath-perl,
    libxml2-dev,
    libwrap0-dev,
    libxapian-dev,
    libzephyr-dev,
    lsb-base,
    net-tools,
    pandoc,
    perl,
    php-cli,
    php-curl,
    pkg-config,
    po-debconf,
    python-docutils,
    python-sphinx,
    python-pygments,
    python3-pygments,
    rsync,
    sudo,
    sphinx-common,
    tcl-dev,
    transfig,
    uuid-dev,
    vim,
    wamerican,
    wget,
    xutils-dev,
    zlib1g-dev
Restrictions: needs-root, allow-stderr
